@tailwind base;
@tailwind components;
@tailwind utilities;


.home-hero {
    background-image: url('../../public/assets/img/main-hero1.png');
    background-size: cover;
    background-position: center;
    /* @apply bg-blend-screen;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
}

.mission-section {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4941), rgba(0, 0, 0, 0.4941)), url('../../public/assets/img/backgrounds/mission/mission.png');
    background-size: cover;
    background-position: center;
}


.custom-button1 {
    @apply  px-6 py-3 uppercase custom-gradient-bg text-white rounded-[24px] tracking-widest hover:bg-gradient-to-r hover:from-white hover:to-white hover:text-[#1D365A]
}
.custom-container {
    @apply container mx-auto px-4 sm:px-16
}

.home-custom-navs {
    /* background: #F0F0F0 0% 0% no-repeat padding-box; */
    /* border-radius: 48px;
    opacity: 1;*/
    backdrop-filter: blur(30px); 
    -webkit-backdrop-filter: blur(40px); 
    @apply bg-gray-300/20  rounded-[48px]
}


.custom-gradient-bg {
    @apply bg-gradient-to-r from-[#1D365A] to-[#AB2346] 
}


.youCanCount-section {
    @apply bg-gradient-to-b from-[#000A26] to-[#010B2A00]
       
}

.custom-bg-blend1 {
    /* @apply bg-blend-darken custom-gradient-bg opacity-20 z-10  ; */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

}

.happyClientSection {
    @apply bg-[#F8F8F8] bg-[url("../../public/assets/img/backgrounds/Polygons_mobile.svg")] sm:bg-[url("../../public/assets/img/backgrounds/polygons_web.svg")]
}

.we-are-certified-section {
    /* @apply bg-gradient-to-b from-[#AB2346] to-[#000021] */
    background-size: cover;
    background-position: center;
    @apply bg-[url("../../public/assets/img/backgrounds/iso/iso_mobile.jpg")] h-[50rem] sm:bg-[url("../../public/assets/img/backgrounds/iso/ISO.png")]
}






