@tailwind base;
@tailwind components;
@tailwind utilities;



.scroll-section-outer {
    overflow: hidden;
    border: 1rem solid blue;
}

.scroll-section-inner {
    height: 100vh;
    width: 400vw;
    display: flex;
    flex-direction: row;
    position: relative;
}

.scroll-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}